In [1]:
import pandas as pd
data = pd.read_excel(r"C:\Users\sures\Downloads\Downloads_1\NLP_Files_Uni,bi_tri_4_5_grams\new_folder\ALL_CORPORA-TO-EDIT-xlsx_format_new.xlsm")

# we are reading our file which is in the xlsx format as a pandas dataframe

In [2]:
data.columns = ['Text']

# we are assigning the column name as 'Text'

In [3]:
data[:]

# we are visualizing the dataframe from first to last terms

                                                    Text
0      QT_QTC RD_SYM N_NN V_VM_VNF N_NST N_NN PR_PRP ...
1      N_NN N_NN V_VM_VNF N_NN PR_PRQ V_VM_VNF V_VAUX...
2      QT_QTC RD_SYM N_NN N_NN RD_PUNC N_NN N_NN RD_P...
3      QT_QTC RD_SYM N_NN JJ N_NN V_VM_VNF N_NN PR_PR...
4      DM_DMD N_NN DM_DMD N_NN V_VM_VINF N_NN N_NN PR...
...                                                  ...
10380                             JJ PR_PRP N_NN RD_PUNC
10381  N_NN N_NN V_VM_VNF N_NN RD_PUNC N_NN N_NN V_VM...
10382                   RB V_VM_VNF N_NN V_VM_VF RD_PUNC
10383                                            RD_PUNC
10384                                             QT_QTC

[10385 rows x 1 columns]

In [4]:
list_strings = data['Text'].values.tolist()

# we are converting our text column into a list with each values as a string
# Each sentence in our corpus will be converted into a string of tags and all such string of tags will be stored in a list
# look at the format of list_strings below

In [5]:
list_strings[:10]

['QT_QTC RD_SYM N_NN V_VM_VNF N_NST N_NN PR_PRP V_VM_VINF N_NN N_NN V_VM_VNF N_NN N_NN N_NN RB V_VM_VF RD_PUNC',
 'N_NN N_NN V_VM_VNF N_NN PR_PRQ V_VM_VNF V_VAUX PR_PRP N_NN QT_QTF N_NN V_VM_VFRD_PUNC',
 'QT_QTC RD_SYM N_NN N_NN RD_PUNC N_NN N_NN RD_PUNC N_NN V_VM_VNF N_NN N_NN PR_PRP N_NN V_VM_VF RD_PUNC',
 'QT_QTC RD_SYM N_NN JJ N_NN V_VM_VNF N_NN PR_PRQ N_NN N_NN N_NN V_VM_VNF PR_PRP N_NN QT_QTF V_VM_VF RD_PUNC',
 'DM_DMD N_NN DM_DMD N_NN V_VM_VINF N_NN N_NN PR_PRP V_VM_VINF N_NN N_NN JJ N_NN N_NN V_VM_VINF JJ N_NN N_NN N_NN JJ N_NN N_NN V_VM_VNF V_VAUX RD_PUNC',
 'QT_QTC RD_SYM N_NST V_VM_VINF N_NN V_VM_VNF N_NNP N_NN N_NN N_NN N_NN N_NN V_VM_VF RD_PUNC',
 'N_NN N_NN N_NN QT_QTF N_NN CC_CCD N_NN V_VM_VF RD_PUNC',
 'PR_PRP N_NN V_VM_VINF N_NN N_NN RP_RPD N_NN V_VM_VF RD_PUNC',
 'N_NN N_NN V_VM_VNF N_NN N_NN N_NN QT_QTF N_NN V_VM_VINF N_NN V_VM_VNF V_VM_VF RD_PUNC',
 'N_NN N_NN V_VM_VNG JJ N_NN N_NN DM_DMD N_NN V_VM_VF RD_PUNC']

In [6]:
five_grams = [b for l in list_strings for b in zip(str(l).split(" ")[:-1], str(l).split(" ")[1:], str(l).split(" ")[2:], 
                                                str(l).split(" ")[3:], str(l).split(" ")[4:])]

# we are finding out fivegrams here
# first, we are taking each term from the list_strings as variable named 'l'
# second, we convert l as string and split it with spaces. now, we get all tags.
# take first tag as variable 'b' and append it to the list 'bigrams' sequentially one by one until the last tag is exhausted.
# next, we take the same string format of 'l', split it with spaces and apart from the already existing word, take the next word.
# next, we repeat the same task five times to get a zipped file of five_grams

print(five_grams[:10])

[('QT_QTC', 'RD_SYM', 'N_NN', 'V_VM_VNF', 'N_NST'), ('RD_SYM', 'N_NN', 'V_VM_VNF', 'N_NST', 'N_NN'), ('N_NN', 'V_VM_VNF', 'N_NST', 'N_NN', 'PR_PRP'), ('V_VM_VNF', 'N_NST', 'N_NN', 'PR_PRP', 'V_VM_VINF'), ('N_NST', 'N_NN', 'PR_PRP', 'V_VM_VINF', 'N_NN'), ('N_NN', 'PR_PRP', 'V_VM_VINF', 'N_NN', 'N_NN'), ('PR_PRP', 'V_VM_VINF', 'N_NN', 'N_NN', 'V_VM_VNF'), ('V_VM_VINF', 'N_NN', 'N_NN', 'V_VM_VNF', 'N_NN'), ('N_NN', 'N_NN', 'V_VM_VNF', 'N_NN', 'N_NN'), ('N_NN', 'V_VM_VNF', 'N_NN', 'N_NN', 'N_NN')]

In [7]:
print(len(five_grams))

# we get the number of fivegrams present in the corpus

print('Number of Unigrams present in the whole corpus - ', len(five_grams))

76675
Number of Unigrams present in the whole corpus -  76675

In [8]:
from collections import Counter

count = dict(Counter(five_grams))
#print(count)

# we get the frequency of occurrences of each five grams

In [9]:
print(len(count))

# This gives us how many unique five grams we have in our corpus

print('Number of tags in our corpus', len(count))

25738
Number of tags in our corpus 25738

In [10]:
sorted_count = {k: v for k, v in sorted(count.items(), key=lambda item: item[1], reverse=True)}

#print(sorted_count)

# we have sorted our tags based in the decresing order of frequency.
# we have 'N_NN' tag occurring highest number of times

In [11]:
f_data = pd.DataFrame([sorted_count])
# we are converting our sorted frequencies as a pandas dataframe for easy visualization

f_data = f_data.T
# we are transposing our data matrix for column view

f_data = f_data.reset_index()
# we are resetting our index to default values

f_data.columns = ['Five_grams','Frequency']
# we are addding column names for easy understanding of the columns in our five gram frequency dataframe

f_data[:]
# we visualize the whole data

                                          Five_grams  Frequency
0                     (N_NN, N_NN, N_NN, N_NN, N_NN)       1066
1      (RD_PUNC, RD_PUNC, RD_PUNC, RD_PUNC, RD_PUNC)        837
2               (N_NN, RD_PUNC, N_NN, RD_PUNC, N_NN)        660
3               (N_NN, N_NN, N_NN, V_VM_VF, RD_PUNC)        653
4            (RD_PUNC, N_NN, RD_PUNC, N_NN, RD_PUNC)        475
...                                              ...        ...
25733         (DM_DMQ, N_NN, QT_QTF, N_NN, V_VM_VNF)          1
25734   (QT_QTF, N_NN, V_VM_VNF, RD_PUNC, CC_CCS_UT)          1
25735  (V_VM_VNF, PR_PRP, RP_INTF, V_VM_VNF, RP_RPD)          1
25736   (PR_PRP, RP_INTF, V_VM_VNF, RP_RPD, RD_PUNC)          1
25737        (RD_PUNC, N_NN, N_NN, V_VM_VNF, CC_CCD)          1

[25738 rows x 2 columns]

In [12]:
f_data.to_csv(r'C:\Users\sures\Downloads\Downloads_1\NLP_Files_Uni,bi_tri_4_5_grams\Final_Files\Five_grams\five_gram_freq.csv')

# we are saving our new five_gram frequency dataset into our drive after converting it into csv file.