In [1]:
import pandas as pd
data = pd.read_excel(r"C:\Users\sures\Downloads\Downloads_1\NLP_Files_Uni,bi_tri_4_5_grams\new_folder\ALL_CORPORA-TO-EDIT-xlsx_format_new.xlsm")

# we are reading our file which is in the xlsx format as a pandas dataframe

In [2]:
data.columns = ['Text']

# we are assigning the column name as 'Text'

In [3]:
data[:]

# we are visualizing the dataframe from first to last terms

                                                    Text
0      QT_QTC RD_SYM N_NN V_VM_VNF N_NST N_NN PR_PRP ...
1      N_NN N_NN V_VM_VNF N_NN PR_PRQ V_VM_VNF V_VAUX...
2      QT_QTC RD_SYM N_NN N_NN RD_PUNC N_NN N_NN RD_P...
3      QT_QTC RD_SYM N_NN JJ N_NN V_VM_VNF N_NN PR_PR...
4      DM_DMD N_NN DM_DMD N_NN V_VM_VINF N_NN N_NN PR...
...                                                  ...
10380                             JJ PR_PRP N_NN RD_PUNC
10381  N_NN N_NN V_VM_VNF N_NN RD_PUNC N_NN N_NN V_VM...
10382                   RB V_VM_VNF N_NN V_VM_VF RD_PUNC
10383                                            RD_PUNC
10384                                             QT_QTC

[10385 rows x 1 columns]

In [4]:
list_strings = data['Text'].values.tolist()

# we are converting our text column into a list with each values as a string
# Each sentence in our corpus will be converted into a string of tags and all such string of tags will be stored in a list
# look at the format of list_strings below

In [5]:
list_strings[:10]

['QT_QTC RD_SYM N_NN V_VM_VNF N_NST N_NN PR_PRP V_VM_VINF N_NN N_NN V_VM_VNF N_NN N_NN N_NN RB V_VM_VF RD_PUNC',
 'N_NN N_NN V_VM_VNF N_NN PR_PRQ V_VM_VNF V_VAUX PR_PRP N_NN QT_QTF N_NN V_VM_VFRD_PUNC',
 'QT_QTC RD_SYM N_NN N_NN RD_PUNC N_NN N_NN RD_PUNC N_NN V_VM_VNF N_NN N_NN PR_PRP N_NN V_VM_VF RD_PUNC',
 'QT_QTC RD_SYM N_NN JJ N_NN V_VM_VNF N_NN PR_PRQ N_NN N_NN N_NN V_VM_VNF PR_PRP N_NN QT_QTF V_VM_VF RD_PUNC',
 'DM_DMD N_NN DM_DMD N_NN V_VM_VINF N_NN N_NN PR_PRP V_VM_VINF N_NN N_NN JJ N_NN N_NN V_VM_VINF JJ N_NN N_NN N_NN JJ N_NN N_NN V_VM_VNF V_VAUX RD_PUNC',
 'QT_QTC RD_SYM N_NST V_VM_VINF N_NN V_VM_VNF N_NNP N_NN N_NN N_NN N_NN N_NN V_VM_VF RD_PUNC',
 'N_NN N_NN N_NN QT_QTF N_NN CC_CCD N_NN V_VM_VF RD_PUNC',
 'PR_PRP N_NN V_VM_VINF N_NN N_NN RP_RPD N_NN V_VM_VF RD_PUNC',
 'N_NN N_NN V_VM_VNF N_NN N_NN N_NN QT_QTF N_NN V_VM_VINF N_NN V_VM_VNF V_VM_VF RD_PUNC',
 'N_NN N_NN V_VM_VNG JJ N_NN N_NN DM_DMD N_NN V_VM_VF RD_PUNC']

In [6]:
uni_grams = [b for l in list_strings for b in str(l).split(" ")[:-1]]

# we are finding out unigrams here
# first, we are taking each term from the list_strings as variable named 'l'
# second, we convert l as string and split it with spaces. now, we get all tags.
# take first tag as variable 'b' and append it to the list 'unigrams' sequentially one by one until the last tag is exhausted.
# thus we get all the tags as the list of unigrams

print(uni_grams[:10])

['QT_QTC', 'RD_SYM', 'N_NN', 'V_VM_VNF', 'N_NST', 'N_NN', 'PR_PRP', 'V_VM_VINF', 'N_NN', 'N_NN']

In [7]:
print(len(uni_grams))

# we get the number of unigrams present in the corpus

print('Number of Unigrams present in the whole corpus - ', len(uni_grams))

107133
Number of Unigrams present in the whole corpus -  107133

In [8]:
from collections import Counter

count = dict(Counter(uni_grams))
print(count)

# we get the frequency of occurrences of each tags/unigrams

{'QT_QTC': 4113, 'RD_SYM': 1480, 'N_NN': 45540, 'V_VM_VNF': 10136, 'N_NST': 1824, 'PR_PRP': 4837, 'V_VM_VINF': 1696, 'RB': 2772, 'V_VM_VF': 6419, 'PR_PRQ': 2, 'V_VAUX': 487, 'QT_QTF': 679, 'RD_PUNC': 12161, 'JJ': 2373, 'DM_DMD': 1172, 'N_NNP': 3914, 'CC_CCD': 1072, 'RP_RPD': 1107, 'V_VM_VNG': 493, 'PSP': 1831, 'RP_INTF': 408, 'DM_DMR': 712, 'DM_DMQ': 949, 'CC_CCS': 110, 'CC_CCS_UT': 343, 'RP_CL': 67, 'RP_NEG': 164, 'QT_QTO': 134, 'PR_PRC': 1, 'RP_INJ': 48, 'RD_UNK': 40, 'PR_PRL': 21, 'RD_ECH': 3, '': 8, 'NN': 17}

In [9]:
print(len(count))

# This gives us how many tags we have in our corpus

print('Number of tags in our corpus', len(count))

35
Number of tags in our corpus 35

In [10]:
sorted_count = {k: v for k, v in sorted(count.items(), key=lambda item: item[1], reverse=True)}

print(sorted_count)

# we have sorted our tags based in the decresing order of frequency.
# we have 'N_NN' tag occurring highest number of times

{'N_NN': 45540, 'RD_PUNC': 12161, 'V_VM_VNF': 10136, 'V_VM_VF': 6419, 'PR_PRP': 4837, 'QT_QTC': 4113, 'N_NNP': 3914, 'RB': 2772, 'JJ': 2373, 'PSP': 1831, 'N_NST': 1824, 'V_VM_VINF': 1696, 'RD_SYM': 1480, 'DM_DMD': 1172, 'RP_RPD': 1107, 'CC_CCD': 1072, 'DM_DMQ': 949, 'DM_DMR': 712, 'QT_QTF': 679, 'V_VM_VNG': 493, 'V_VAUX': 487, 'RP_INTF': 408, 'CC_CCS_UT': 343, 'RP_NEG': 164, 'QT_QTO': 134, 'CC_CCS': 110, 'RP_CL': 67, 'RP_INJ': 48, 'RD_UNK': 40, 'PR_PRL': 21, 'NN': 17, '': 8, 'RD_ECH': 3, 'PR_PRQ': 2, 'PR_PRC': 1}

In [11]:
f_data = pd.DataFrame([sorted_count])
# we are converting our sorted frequencies as a pandas dataframe for easy visualization

f_data = f_data.T
# we are transposing our data matrix for column view

f_data = f_data.reset_index()
# we are resetting our index to default values

f_data.columns = ['Uni_grams','Frequency']
# we are addding column names for easy understanding of the columns in our unigram frequency dataframe

f_data[:]
# we visualize the whole data

    Uni_grams  Frequency
0        N_NN      45540
1     RD_PUNC      12161
2    V_VM_VNF      10136
3     V_VM_VF       6419
4      PR_PRP       4837
5      QT_QTC       4113
6       N_NNP       3914
7          RB       2772
8          JJ       2373
9         PSP       1831
10      N_NST       1824
11  V_VM_VINF       1696
12     RD_SYM       1480
13     DM_DMD       1172
14     RP_RPD       1107
15     CC_CCD       1072
16     DM_DMQ        949
17     DM_DMR        712
18     QT_QTF        679
19   V_VM_VNG        493
20     V_VAUX        487
21    RP_INTF        408
22  CC_CCS_UT        343
23     RP_NEG        164
24     QT_QTO        134
25     CC_CCS        110
26      RP_CL         67
27     RP_INJ         48
28     RD_UNK         40
29     PR_PRL         21
30         NN         17
31                     8
32     RD_ECH          3
33     PR_PRQ          2
34     PR_PRC          1

In [12]:
f_data.to_csv(r'C:\Users\sures\Downloads\Downloads_1\NLP_Files_Uni,bi_tri_4_5_grams\Final_Files\Unigrams\uni_gram_freq.csv')

# we are saving our new unigram frequency dataset into our drive after converting it into csv file.